<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sada Pan-Nord Portfolio</title>
    <link rel="stylesheet" href="/assets/reset.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <style>
      body { background-image: url ('public\assets\lake.png'); }
    </style>
    <base href="/" />
  </head>

  <body class="container parallax">
    {{{body}}}
  </body>

</html>