<div class="col-md-6">
    <h2>If you have visited my portfolio please sign my visitors log!</h2>

    <form class="form visitorLog">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input
          class="form-input firstName"
          type="text"
          id="firstName"
        />
      </div>
      <div class="form-group">
        <p>Last Name:</p>
        <input
          class="form-input lastName"
          type="text"
          id="lastName"
        />
      </div>
        <div class="form-group">
        <p>Company:</p>
        <input
          class="form-input company"
          type="text"
          id="company"
        />
      </div>
        <div class="form-group">
        <p>Contact Email:</p>
        <input
          class="form-input email"
          type="text"
          id="email"
        />
      </div>      
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign</button>
      </div>
    </form>
  </div>
</div>
