 <header class="col">
        

        <nav>
            <ul>
                <li>
                    <a href="#about-me">About Me</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="./api/contactMe">Contact Information</a>
                </li>
            </ul>
    </header>

    <main>
        
        <div class="section-container">

            <aside>
                <h3 id="about-me">About Me</h3>
            </aside>
                <p>I am a plasma center Assistant Manager, who has recently been introduced to coding.
                    I am an outdoor enthusiast, who loves camping and hiking with her husband and dog. 
                    In my spare time I like to craft, and love trying to make new things.
                </p>
        </div>
        <br>
        
        <div class="section-container">
            <aside>
                <h3 id="projects">Projects</h3>
            </aside> 
            <div class="col s12">
                <p>Please follow the links below to view the projects I have completed:</p>
                    <ul class ="row">
                        <li class ="col s6"><h4 class="image-title">Project 1</h4>
                            <a href="https://brachtco.github.io/know-your-music/" target="blank"><img src="./assets/project-01-img.png" alt="Image of Know Your Music webpage"></a>
                        </li>
                        <li class="col s6">
                            <h4 class="image-title">Project 2</h4>
                            <a href="https://agile-castle-97936.herokuapp.com/" target="blank"><img src="./assets/newtricious.png" alt="Image of Newtricious home page"></a>
                        </li>
                    </ul>
            </div>
        </div>
    </main>

    <footer>
    </footer>