 <header class="col">
        
        <h1 class ="row">Sada Pan-Nord <img class="pic " src="./assets/slack-profile.png" alt="Profile picture for Sada Pan-Nord"></h1>
        <nav>
            <ul>
                <li>
                    <a href="#about-me">About Me</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="./contactMe">Contact Information</a>
                </li>
            </ul>
    </header>

    <main>
        
        <div class="section-container">

            <aside>
                <h3 id="about-me">About Me</h3>
            </aside>
                <p>I am a plasma center Assistant Manager, who has recently been introduced to coding.
                    I am an outdoor enthusiast, who loves camping and hiking with her husband and dog. 
                    In my spare time I like to craft, and love trying to make new things.
                </p>
        </div>
        <div class="section-container">
            <aside>
                <h3 id="projects">Projects</h3>
            </aside> 
                <p>Please follow the links below to view the projects I have completed:</p>
                    <ul>
                        <li><h4 class="image-title">Portfolio</h4>
                                <a id="portfolio-pic" href="https://sadapannord.github.io/Sada-Pan-Nord-Portfolio/"><img id="portfolio-pic" src="./assets/portfolio-pic.png" alt="Work Portfolio link"></a>
                        </li>
                        <li><h4 class="image-title">Study Guide</h4>
                                <a href="https://sadapannord.github.io/prework-study-guide/"><img src="./assets/prework-study-guide.png" alt="Study Guide Link"></a>
                        </li>
                        <li><h4 class="image-title">Project 1</h4>
                            <a href="https://brachtco.github.io/know-your-music/"><img src="./assets/project-01-img.png" alt="Image of Know Your Music webpage"></a>
                    </li>
                    </ul>
        </div>
        <div class="section-container">
            <aside>
                <h3 id="contact-information">Contact Information</h3>
            </aside>
                <p><strong>Email:</strong>sadapan@gmail.com</p>
                <p><strong>Phone number:</strong>303-332-7351</p>

        </div>
                    <form>

                </form>
            </article>
        </section>
    </main>

    <footer>
        <span></span>
    </footer>